<!--<div class="bg-light p-2" style="margin-left: 45px; margin-bottom: 20px">-->
<!--  &lt;!&ndash;            &lt;!&ndash;          <form class="form" [formGroup]="createHouseForm" (ngSubmit)="createHouse()" method="post"&ndash;&gt;&ndash;&gt;-->
<!--  &lt;!&ndash;            &lt;!&ndash;                id="registrationForm">&ndash;&gt;&ndash;&gt;-->
<!--  <div class="d-flex flex-row align-items-start"><img class="rounded-circle"-->
<!--                                                      src="{{}}"-->
<!--                                                      width="40"><textarea-->
<!--    class="form-control ml-1 shadow-none textarea" style="height: 100px"></textarea></div>-->
<!--  <div class="mt-2 text-right">-->
<!--    <button class="btn btn-success btn-sm shadow-none" type="button">Post comment</button>-->
<!--    <button class="btn btn-outline-success btn-sm ml-1 shadow-none" type="button">Cancel</button>-->
<!--  </div>-->
<!--  &lt;!&ndash;          </form>&ndash;&gt;-->
<!--  &lt;!&ndash;         End component tạo bình luận&ndash;&gt;-->
<!--</div>-->
