<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<table class="table">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th scope="col">id</th>-->
<!--    <th scope="col">checkin</th>-->
<!--    <th scope="col">checkout</th>-->
<!--    <th scope="col">total</th>-->
<!--    <th scope="col">created at</th>-->
<!--    &lt;!&ndash;    <td>delete</td>&ndash;&gt;-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let booking of listBooking">-->
<!--    <td>{{booking.bookingId}}</td>-->
<!--&lt;!&ndash;    <td>{{booking.houseId.houseName}}</td>&ndash;&gt;-->
<!--    <td><a [routerLink]="['detail',booking.checkIn]">{{booking.checkIn}}</a></td>-->
<!--    <td>{{booking.checkOut}}</td>-->
<!--    <td>{{booking.total}}</td>-->
<!--    <td>{{booking.createdAt}}</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
<br><br><br><br>
<div class="wrapper">
  <table class="table table-bordered cart_summary">
    <thead>
    <tr>
      <!--      <th class="cart_product">Image House</th>-->
      <th>House Id</th>
      <th>House's Description </th>
      <th>Check In</th>
      <th>Check Out</th>
      <th>Created At</th>
      <th>Total</th>
      <th>House's Detail</th>
      <!--      <th class="action"><i class="fa fa-trash-o"></i>-->
      <!--      </th>-->
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let booking of listBooking">
      <td class="cart_product">
<!--        {{booking.houseId.houseId}}-->
        <img src="{{booking.houseId.avatar}}" alt="">
      </td>
      <td class="cart_description">
        <p class="product-name">House Name: {{booking.houseId.houseName}}
        </p>
        <small class="cart_ref">Bathroom: {{booking.houseId.bathroom}}</small>
        <br>
        <small><a href="#">BedRoom : {{booking.houseId.bedroom}}</a></small>
        <br>
        <small><a href="#">Price : {{booking.houseId.price}} $</a></small>
      </td>
      <td class="cart_avail"><span class="label label-success">{{booking.checkIn}}</span>
      <td class="cart_avail"><span class="label label-success">{{booking.checkOut}}</span>
      </td>
      <td class="cart_avail"><span class="label label-success">{{booking.createdAt}}</span>
      </td>
      <td class="price"><span> {{booking.total}} $ </span>  </td>
      <td  class="cart_avail"><button class="btn-success"><a [routerLink]="['/house-view',booking.houseId.houseId]">Detail</a></button></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="2" rowspan="2"></td>
      <!--      <td colspan="3">Total products (tax incl.)</td>-->
      <!--      <td colspan="2">122.38 €</td>-->
    </tr>
    <tr>
      <td colspan="3"><strong>Total Money</strong>
      </td>
      <td colspan="1"><strong> {{sum()}} $</strong>
      </td>
      <td colspan="1"><strong> </strong>
      </td>
    </tr>
    </tfoot>
  </table>
  <!--  <div class="cart_navigation ">-->
  <!--    <a class="prev-btn" href="#">Continue shopping</a>-->
  <!--    <a class="next-btn" href="#">Proceed to checkout</a>-->
  <!--  </div>-->
</div>
