<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container">
        <br>
        <h4 style="color: red;position: relative;left: 260px">{{show}}</h4>
        <br>
      </div>
    </div>
  </div>
</div>
<!--/ Intro Single star /-->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Booking history</h1>
          <span class="color-text-a">Rocket Stay</span>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="''">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Booking history
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="wrapper">
    <table class="table table-bordered cart_summary">
      <thead>
      <tr>
        <!--      <th class="cart_product">Image House</th>-->
        <th>House Image</th>
        <th>House's Description</th>
        <th>Check In</th>
        <th>Check Out</th>
        <th>Created At</th>
        <th>Total</th>
        <th>Cancel</th>
        <th>Check In</th>
        <!--      <th class="action"><i class="fa fa-trash-o"></i>-->
        <!--      </th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let booking of listBooking | paginate: { itemsPerPage: 9, currentPage: p }; let i  = index">
        <td class="cart_product">
          <!--        {{booking.houseId.houseId}}-->
          <a [routerLink]="['/house-view',booking.houseId.houseId]"> <img src="{{booking.houseId.avatar}}" alt=""></a>
        </td>
        <td class="cart_description">
          <p class="product-name">House Name: {{booking.houseId.houseName}}
          </p>
          <small class="cart_ref">Bathroom: {{booking.houseId.bathroom}}</small>
          <br>
          <small><a href="#">BedRoom : {{booking.houseId.bedroom}}</a></small>
          <br>
          <small><a href="#">Price : {{booking.houseId.price}} $</a></small>
        </td>
        <td class="cart_avail"><span class="label label-success">{{booking.checkIn| date:'MMM d, y'}}</span>
        <td class="cart_avail"><span class="label label-success">{{booking.checkOut| date:'MMM d, y'}}</span>
        </td>
        <td class="cart_avail"><span class="label label-success">{{booking.createdAt| date:'MMM d, y, h:mm:ss a'}}</span>
        </td>
        <td class="price"><span> {{booking.total}} $ </span></td>
        <td class="cart_avail">
          <!--        <button style="color: whitesmoke" class="btn-success"><a [routerLink]="['/house-view',booking.houseId.houseId]">Detail</a></button>-->
          <button class="btn btn-outline-warning" style="color: red"><a (click)="cancelBooking(booking.bookingId)"
                                                                        data-toggle="modal"
                                                                        data-target=".bd-example-modal-lg">Cancel</a>
          </button>
          <!--        <button type="button" *ngIf="booking.houseId.status == 1" >da thue</button>-->
        </td>
        <td class="cart_avail">
          <button data-toggle="modal"
                  data-target=".bd-example-modal-lg" *ngIf="booking.houseId.status !== 1" id="cancel" (click)="checkIn(booking.bookingId); clicked = true;"
                  style="color: blue" class="btn btn-outline-primary">Check In
          </button>
          <button *ngIf="booking.houseId.status == 1" id="cancel" style="color: blue; cursor: not-allowed"
                  class="btn btn-outline-danger disabled">Checked
          </button>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="2" rowspan="2"></td>
        <!--      <td colspan="3">Total products (tax incl.)</td>-->
        <!--      <td colspan="2">122.38 €</td>-->
      </tr>
      <tr>
        <td colspan="3"><strong>Total Money</strong>
        </td>
        <td colspan="1"><strong> {{sum()}} $</strong>
        </td>
        <td colspan="2"><strong> </strong>
        </td>
      </tr>
      </tfoot>
    </table>
    <pagination-controls style="float: right; color:#2eca6a " (pageChange)="p = $event"></pagination-controls>


</div>
</div>
