<br><br><br><br><br><br><br><br><br><br>

<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-3"><!--left col-->

    </div><!--/col-3-->
    <div class="col-sm-9">
      <ul class="nav nav-tabs">
        <li><h3 data-toggle="tab" href="#messages">Update Password</h3></li>
      </ul>
      <br>
      <br>
      <br>
      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <form class="form"  [formGroup]="newPasswordForm" (ngSubmit)="changePassword()" method="post" id="registrationForm">
            <div class="form-group">
              <div class="col-xs-6">
                <label><h5>Password</h5></label>
                <input type="text" formControlName="password" name="password" class="form-control" placeholder="enter phone" title="enter your phone number if any.">
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-6">
                <label><h5>Confirm password</h5></label>
                <input type="text" formControlName="confirmPassword" class="form-control" name="confirmPassword"  placeholder="enter mobile number" title="enter your mobile number if any.">
              </div>
            </div>
            <div class="form-group">
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <br>
                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
              </div>
            </div>
          </form>
        </div>
      </div><!--/tab-pane-->
    </div><!--/tab-content-->

  </div><!--/col-9-->
</div><!--/row-->


