<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">List Booking</h1>
          <span class="color-text-a">Rocket Stay</span>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="''">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a [routerLink]="['/user-show',user.userId]">Profile</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
              <a [routerLink]="['/user-ownHouse/',id]">Home Detail</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              List Booking
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="wrapper">
    <table class="table table-bordered cart_summary">
      <thead>
      <tr>
        <th>Booking ID</th>
        <th>Booking date</th>
        <th>Customer</th>
        <th>Check in</th>
        <th>Check out</th>
        <th>Total</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let booking of bookingList   | paginate: { itemsPerPage: 9, currentPage: p }; let i  = index">
        <td class="cart_avail">
          <span class="label label-success">{{booking.bookingId}}</span>
        </td>
        <td>
          <p>{{booking.createdAt| date:'MMM d, y, h:mm:ss a'}}</p>
        </td>
        <td class="cart_description">
          <p class="product-name">{{booking.userId.username}}</p>
          <small class="cart_ref"><p>Full name : {{booking.userId.fullName}}</p></small>
          <small><p>Phone : {{booking.userId.phone}}</p></small>
          <small><p>Email : {{booking.userId.email}}</p></small>
        </td>

        <td><span>{{booking.checkIn| date:'MMM d, y, h:mm:ss a'}}</span></td>
        <td><span>{{booking.checkOut| date:'MMM d, y, h:mm:ss a'}}</span></td>
        <td>
          <span>{{booking.total}}</span>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="2" rowspan="2"></td>
        <td colspan="3">Total income (tax incl.)</td>
        <td colspan="2">{{this.total}}</td>
      </tr>
      <tr>
        <td colspan="3"><strong>Total income</strong>
        </td>
        <td colspan="2"><strong>{{this.total}}</strong>
        </td>
      </tr>
      </tfoot>
    </table>
    <pagination-controls style="float: right; color:#2eca6a " (pageChange)="p = $event"></pagination-controls>
  </div>

