<!--/ Intro Single star /-->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">List of all houses</h1>
          <span class="color-text-a">Rocket Stay</span>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="''">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Places to stay
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!--/ Intro Single End /-->

<!--/ Property Grid Star /-->
<section class="property-grid grid">
  <div class="container">
    <!--    Phần list nhà -->
    <div class="row">
      <!--      Phần sort nhà-->
      <!--      <div class="col-sm-12">-->
      <!--        <div class="grid-option">-->
      <!--          <form>-->
      <!--            <select class="custom-select">-->
      <!--              <option selected>All</option>-->
      <!--              <option value="1">New to Old</option>-->
      <!--              <option value="2">For Rent</option>-->
      <!--              <option value="3">For Sale</option>-->
      <!--            </select>-->
      <!--          </form>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--      End phần sort nhà-->
      <!--      <tr *ngFor="let user of users | paginate: { itemsPerPage: 2, currentPage: p }; let i  = index">-->


      <!--      Danh sách các nhà-->
      <div class="col-md-4"
           *ngFor="let house of listHouses | paginate: { itemsPerPage: 9, currentPage: p }; let i  = index">
        <!--        <div scope="row">{{ i + 1}}</div>-->
        <div class="card-box-a card-shadow" style="width: 350px; height: 386px; margin-bottom: 0px; margin-top: 30px ">
          <div class="img-box-a">
            <img src="{{house.avatar}}" alt="" class="img-a img-fluid"
                 style="width: 350px !important; height: 250px !important;">
          </div>
          <div class="card-overlay">
            <div class="card-overlay-a-content">
              <div class="card-header-a">
                <h2 class="card-title-a">
                  <a [routerLink]="['/house-view',house.houseId]">{{house.houseName}}</a>
                </h2>
              </div>
              <div class="card-body-a">
                <div class="price-box d-flex">
                  <span class="price-a">rent | $ {{house.price}}</span>
                </div>
                <h4 style="color: white">{{house.avgRate}}&nbsp;<i class="fa fa-star star" aria-hidden="true"></i></h4>
                <a [routerLink]="['/house-view',house.houseId]">Click here to view
                  <span class="ion-ios-arrow-forward"></span>
                </a>
              </div>
              <div class="card-footer-a">
                <ul class="card-info d-flex justify-content-around">
                  <li>
                    <h4 class="card-info-title">Beds</h4>
                    <span>{{house.bedroom}}</span>
                  </li>
                  <li>
                    <h4 class="card-info-title">Baths</h4>
                    <span>{{house.bathroom}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div>
          </div>
        </div>
        <h5 style="margin-top: 0px"> {{house.address}}</h5>
      </div>
      <!--     End danh sách các nhà-->
    </div>
    <!--    End phần list nhà -->
    <pagination-controls style="float: right; color:#2eca6a " (pageChange)="p = $event"></pagination-controls>

  </div>
</section>
<!--/ Property Grid End /-->


