
<br><br><br><br>
<!-- Button trigger modal -->

<!-- Modal -->
<div *ngIf="showModal" style="position: fixed;left: 400px;top: 100px" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1 style="position: relative;left: 130px;color: #053fec;font-size: 20px">Registered Successfully!</h1>
        <br>
      </div>
    </div>
  </div>
</div>
<div class="title">
  <h1 class="w3ls">Welcome to AirBnB</h1>
</div>
<div>
  <div class="content-w3ls">
    <div class="content-agile1">
      <h2 class="agileits1">AirBnB</h2>
      <p class="agileits2">Your New Home!</p>
    </div>
    <div class="content-agile2">

      <div class="login-wrap">
        <div *ngIf="message" class="alert alert-warning" role="alert">
          {{message}}
        </div>
        <div class="login-html">
          <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign
          In</label>
          <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
          <div class="login-form">
            <div class="sign-up-htm">
              <form action="" method="post" [formGroup]="newFormUser" (ngSubmit)="createNewUser()" id="register-form">
                <div class="group">
                  <input (keyup)="checkUserName($event)" type="text" id="username"
                         formControlName="username"
                         placeholder="Username"
                         title="Please enter your First Name"
                         required=""
                         class="input"/>
                  <p class="s">{{messengerUserName}}</p>
                  <!--                         [ngClass]="{'is-invalid': newFormUser.get('username')!.touched && newFormUser.get('username')!.invalid}"/>-->
                  <!--                  <div class="invalid-feedback">-->

                  <!--                    <div>*Username is required</div>-->
                  <!--                  </div>-->
                  <!--                  &lt;!&ndash;                  <div style="color: red;" *ngIf="existUsername">&ndash;&gt;-->
                  <!--                  &lt;!&ndash;                    {{existUsername}}&ndash;&gt;-->
                  <!--                  &lt;!&ndash;                  </div>&ndash;&gt;-->
                </div>

                <div class="group">
                  <input (keyup)="checkPhone($event)" type="text"
                         formControlName="phone"
                         placeholder="Phone"
                         id="phone"
                         required=""
                         class="input"/>
                  <p class="s">{{messengerPhone}}</p>
                  <!--                         [ngClass]="{'is-invalid': newFormUser.get('phone')!.touched && newFormUser.get('phone')!.invalid}"/>-->
                  <!--                         [ngClass]="{'is-invalid': newFormUser.get('phone')!.touched && newFormUser.get('phone')!.invalid}"-->
                  <!--                  <div class="invalid-feedback">-->
                  <!--                    <div>*Phone number is required</div>-->
                  <!--                  </div>-->

                </div>

                <div class="group">
                  <input (keyup)="checkPassword($event)" type="password"
                         name="password"
                         formControlName="password"
                         placeholder="Password..."
                         id="password1"
                         required=""
                         class="input"/>
                  <p class="s">{{messengerPassword}}</p>
                  <!--                         [ngClass]="{'is-invalid': newFormUser.get('password')!.touched && newFormUser.get('password')!.invalid}"-->
                  <!--                  <div class="invalid-feedback">-->
                  <!--                                        <div *ngIf="newFormUser.get('password')!.errors!.required">*Password is required</div>-->
                  <!--                                        <div *ngIf="newFormUser.get('password')!.errors!.minlength">*Password must be at least 6 character-->
                  <!--                                        </div>-->
                  <!--                                        <div *ngIf="newFormUser.get('password')!.errors!.mustMatch">*Password and Confirm password must-->
                  <!--                                          match!-->
                  <!--                                        </div>-->
                  <!--                  </div>-->


                </div>

                <div class="group">
                  <input (keyup)="checkConfirmPassword($event)" type="password"
                         name="confirm-password"
                         formControlName="confirmPassword"
                         placeholder="Confirm password..."
                         id="password2"
                         required=""
                         class="input"/>
                  <p class="s">{{messengerConfirmPassword}}</p>
                  <!--                         [ngClass]="{'is-invalid': newFormUser.get('confirmPassword')!.touched && newFormUser.get('confirmPassword')!.invalid}"-->

                  <!--                  <div class="invalid-feedback">-->
                  <!--                                        <div *ngIf="newFormUser.get('confirmPassword')!.errors!.required">*Confirm password is required-->
                  <!--                                        </div>-->
                  <!--                                        <div *ngIf="newFormUser.get('confirmPassword')!.errors!.mustMatch">*Password and Confirm password-->
                  <!--                                          must-->
                  <!--                                          match!-->
                  <!--                                        </div>-->
                  <!--                  </div>-->

                </div>

                <div class="group">
                  <input [disabled]="!submit()" data-toggle="modal" data-target="#exampleModal" type="submit" class="button" value="Register"/>
                </div>
              </form>

            </div>
            <div class="sign-in-htm">

              <form [formGroup]="newFormLogin" (ngSubmit)="login()">
                <div class="group">
                  <!--                <label for="user" class="label">Username</label>-->
                  <input id="user" type="text" class="input" formControlName="username" placeholder="Enter username..."
                         [ngClass]="{ 'is-invalid': submitted && f.username!.errors }"/>
                  <div *ngIf="submitted && f.username!.errors" class="invalid-feedback">
                    <div *ngIf="f.username!.errors!.required">*Username is required</div>
                  </div>
                </div>
                <div class="group">
                  <!--                <label for="pass" class="label">Password</label>-->
                  <input id="pass" type="password" class="input" data-type="password" formControlName="password"
                         placeholder="Enter password..." [ngClass]="{ 'is-invalid': submitted && f.password!.errors }"/>
                  <div *ngIf="submitted && f.password!.errors" class="invalid-feedback">
                    <div *ngIf="f.password!.errors!.required">*Password is required</div>
                  </div>
                </div>
                <div class="group">
                  <!--                  <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{loginFail}}</div>-->
                  <input id="check" type="checkbox" class="check" checked>

                </div>
                <div class="group">
                  <input type="submit" class="button" value="Sign In">
                </div>
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
                <div class="hr"></div>
                <div class="foot-lnk">
                  <a href="#forgot">Forgot Password?</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <p class="copyright w3l">© 2017 Official Signup Form. All Rights Reserved | Design by <a
      href="https://w3layouts.com/" target="_blank">W3layouts</a></p>
  </div>
</div>


<!--<br><br><br><br>-->
<!--<div class="title">-->
<!--  <h1 class="w3ls">Welcome to AirBnB</h1>-->
<!--</div>-->
<!--<div>-->
<!--  <div class="content-w3ls">-->
<!--    <div class="content-agile1">-->
<!--      <h2 class="agileits1">AirBnB</h2>-->
<!--      <p class="agileits2">Your New Home!</p>-->
<!--    </div>-->
<!--    <div class="content-agile2">-->

<!--      <div class="login-wrap">-->
<!--        <div *ngIf="message" class="alert alert-warning" role="alert">-->
<!--          {{message}}-->
<!--        </div>-->
<!--        <div class="login-html">-->
<!--          <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign-->
<!--          In</label>-->
<!--          <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>-->
<!--          <div class="login-form">-->
<!--            <div class="sign-up-htm">-->
<!--              <form [formGroup]="newFormUser" (ngSubmit)="createNewUser()">-->
<!--                <div class="group">-->
<!--                  <input type="text" id="username" formControlName="username" placeholder="Username"-->
<!--                         title="Please enter your First Name" required="" class="input">-->
<!--                </div>-->

<!--                <div class="group">-->
<!--                  <input type="text" class="lock" formControlName="phone" placeholder="Phone" id="phone" required=""-->
<!--                         class="input">-->
<!--                </div>-->

<!--                <div class="group">-->
<!--                  <input type="password" name="password" formControlName="password" placeholder="Password..."-->
<!--                         id="password1" required=""-->
<!--                         class="input">-->
<!--                </div>-->

<!--                <div class="group">-->
<!--                  <input type="password" name="confirm-password" formControlName="confirmPassword" placeholder="Confirm password..."-->
<!--                         id="password2"-->
<!--                         required="" class="input">-->
<!--                </div>-->

<!--                <div class="group">-->
<!--                  <input type="submit" class="button" value="Register">-->
<!--                </div>-->
<!--              </form>-->

<!--            </div>-->
<!--            <div class="sign-in-htm">-->

<!--              <form [formGroup]="newFormLogin" (ngSubmit)="login()">-->
<!--                <div class="group">-->
<!--                  &lt;!&ndash;                <label for="user" class="label">Username</label>&ndash;&gt;-->
<!--                  <input id="user" type="text" class="input" formControlName="username" placeholder="Enter username...">-->
<!--                </div>-->
<!--                <div class="group">-->
<!--                  &lt;!&ndash;                <label for="pass" class="label">Password</label>&ndash;&gt;-->
<!--                  <input id="pass" type="password" class="input" data-type="password" formControlName="password"-->
<!--                         placeholder="Enter password...">-->
<!--                </div>-->
<!--                <div class="group">-->
<!--                  <input id="check" type="checkbox" class="check" checked>-->

<!--                </div>-->
<!--                <div class="group">-->
<!--                  <input type="submit" class="button" value="Sign In">-->
<!--                </div>-->
<!--                <div class="g-signin2" data-onsuccess="onSignIn"></div>-->
<!--                <div class="hr"></div>-->
<!--                <div class="foot-lnk">-->
<!--                  <a href="#forgot">Forgot Password?</a>-->
<!--                </div>-->
<!--              </form>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="clear"></div>-->
<!--    <p class="copyright w3l">© 2017 Official Signup Form. All Rights Reserved | Design by <a-->
<!--      href="https://w3layouts.com/" target="_blank">W3layouts</a></p>-->
<!--  </div>-->
<!--</div>-->
