<h1>update</h1>
<hr>



<form [formGroup]="newFormUpdate" (ngSubmit)="update()">
  <div class="form-group">
    <label>fullname</label>
    <input formControlName="fullName" type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Enter title">
    <!--    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
  </div>
  <div class="form-group">
    <label >phone</label>
    <input formControlName="phone" type="text" class="form-control" placeholder="Author">
  </div>
  <div class="form-group">
    <label >address</label>
    <textarea formControlName="address" type="text" class="form-control" placeholder="description"></textarea>
  </div>
  <div class="form-group">
    <label >email</label>
    <textarea formControlName="email" type="text" class="form-control" placeholder="description"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">update</button>
  <button  class="btn btn-danger" [routerLink]="['']">back to list</button>

</form>
