<br>
<br>
<br>
<br>


<!--<form [formGroup]="updateUserForm" (ngSubmit)="updateUser()">-->
<!--  <input [value]="user.fullName" type="text" formControlName="fullName">fullNAme-->
<!--  <input type="text" formControlName="">-->
<!--  <button type="submit">update</button>-->
<!--</form>-->


<!--<form [formGroup]="updateUserForm" (ngSubmit)="updateUser()">-->
<!--  <table>-->
<!--    <tr>-->
<!--      <td>ID</td>-->
<!--      <td>Username</td>-->
<!--      <td>fullname</td>-->
<!--      <td>email</td>-->
<!--      <td>phone</td>-->
<!--      <td>address</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>-->
<!--        <input type="text" formControlName="id" name="id">-->
<!--      </td>-->
<!--      <td>-->
<!--        <input type="text" formControlName="username" name="username">-->
<!--      </td>-->
<!--      <td>-->
<!--        <input type="text" formControlName="fullName">-->
<!--      </td>-->
<!--      <td>-->
<!--        <input type="text" formControlName="email">-->
<!--      </td>-->
<!--      <td>-->
<!--        <input type="text" formControlName="phone">-->
<!--      </td>-->
<!--      <td>-->
<!--        <input type="text" formControlName="address">-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td></td>-->
<!--      <td>-->
<!--        <button class="btn btn-success" type="submit">Cập Nhật</button>-->
<!--      </td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</form>-->


<hr>
<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-10"><h1>User name</h1></div>
<!--    <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>-->
  </div>
  <div class="row">
    <div class="col-sm-3"><!--left col-->


      <div class="text-center" *ngIf="arrayPicture">
        <img src="{{arrayPicture}}" class="avatar img-circle img-thumbnail" alt="avatar" >
<!--        <h6>Upload a different photo...</h6>-->
<!--        <input type="file" class="text-center center-block file-upload">-->
      </div>


      <div class="up_button">
<!--        <img width="50px" style="object-fit: cover" src="{{user.avatar}}" alt="" class="main-profile-img" id="output" />-->
        <label class="fileContainer" for="up_button">
          <i class="fa fa-edit"></i>
        </label>
        <p hidden><input type="file" accept="image/*" id="up_button" (change)="saveImg($event)" name="avatarFile" form="registrationForm"></p>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
        <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>
      </div>


      <ul class="list-group">
        <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
      </ul>

      <div class="panel panel-default">
        <div class="panel-heading">Social Media</div>
        <div class="panel-body">
          <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
        </div>
      </div>
    </div><!--/col-3-->
    <div class="col-sm-9">
      <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#messages">chỉnh sửa</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <form class="form"  [formGroup]="updateUserForm" (ngSubmit)="updateUser()" method="post" id="registrationForm">
            <div class="form-group">
              <input formControlName="id" type="hidden">
              <input formControlName="username" type="hidden">
              <div class="col-xs-6">
                <label for="phone"><h4>Phone</h4></label>
                <input type="text" formControlName="phone" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-6">
                <label for="mobile"><h4>Address</h4></label>
                <input type="text" formControlName="address" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
              </div>
            </div>
            <div class="form-group">

              <div class="col-xs-6">
                <label for="email"><h4>Email</h4></label>
                <input type="email" formControlName="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
              </div>
            </div>
            <div class="form-group">

              <div class="col-xs-6">
                <label for="email"><h4>Full Name</h4></label>
                <input type="email" formControlName="fullName" class="form-control" id="location" placeholder="somewhere" title="enter a location">
<!--                <input type="email" formControlName="avatar" class="form-control" placeholder="somewhere" title="enter a location">-->
              </div>
            </div>
            <div class="form-group">
            </div>
<!--            <div class="form-group">-->
<!--              <input formControlName="avatar" name="avatar" type="file" class="form-control" (change)="saveImg($event)">-->
<!--            </div>-->

            <div class="form-group">
              <div class="col-xs-12">
                <br>
                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
              </div>
            </div>
          </form>
        </div>
      </div><!--/tab-pane-->
    </div><!--/tab-content-->
  </div><!--/col-9-->
</div><!--/row-->

<!--  <img src="{{ downloadURL }}" alt="" />-->


