<!--/ Intro Single star /-->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Update Profile
          </h1>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="''">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a  [routerLink]="['/user-show',user.userId]">Profile</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Update
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container">
        <br>
        <h4 style="color: red">{{show}}</h4>
        <br>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-10"><h1>{{user.username}}</h1></div>
    <!--    <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>-->
  </div>
  <div class="row">
    <div class="col-sm-3"><!--left col-->


      <div class="text-center" *ngIf="arrayPicture">
        <img src="{{arrayPicture}}" class="avatar img-circle img-thumbnail" alt="avatar">
        <!--        <h6>Upload a different photo...</h6>-->
        <!--        <input type="file" class="text-center center-block file-upload">-->
      </div>


      <div class="up_button">
        <!--        <img width="50px" style="object-fit: cover" src="{{user.avatar}}" alt="" class="main-profile-img" id="output" />-->
        <label class="fileContainer" for="up_button">
          <i class="fa fa-camera" aria-hidden="true"></i>
        </label>
        <p hidden><input type="file" accept="image/*" id="up_button" (change)="saveImg($event)" name="avatarFile"
                         form="registrationForm"></p>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
        <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>
      </div>


      <ul class="list-group">
        <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
      </ul>

      <div class="panel panel-default">
        <div class="panel-heading">Social Media</div>
        <div class="panel-body">
          <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i
          class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
        </div>
      </div>
    </div><!--/col-3-->
    <div class="col-sm-9">
      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <form class="form" [formGroup]="updateUserForm" (ngSubmit)="updateUser()" method="post" id="registrationForm">
            <div class="form-group">
              <input formControlName="id" type="hidden">
              <input formControlName="username" type="hidden">
              <div class="col-xs-6">
                <label for="phone"><h4>Phone</h4></label>
                <!--                <input type="number" formControlName="phone" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">-->
                <input id="phone"
                       [class.is-invalid]="updateUserForm.get('phone').invalid && updateUserForm.get('phone').touched"
                       type="text" class="form-control" formControlName="phone"/>

              </div>
              <div *ngIf="(phone.invalid && phone.touched) || phone.dirty">
                <small *ngIf="phone.errors?.required" class="text-danger">phone number is too short !</small>
                <small *ngIf="phone.errors?.pattern" class="text-danger">
                  invalid phone number !</small>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-6">
                <label for="mobile"><h4>Address</h4></label>
                <input type="text" formControlName="address" class="form-control" name="mobile" id="mobile"
                       placeholder="enter mobile number" title="enter your mobile number if any.">
              </div>
            </div>
            <div class="form-group">

              <div class="col-xs-6">
                <label for="email"><h4>Email</h4></label>
                <!--                <input type="email" formControlName="email"  class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">-->
                <input id="email"
                       [class.is-invalid]="updateUserForm.get('email').invalid && updateUserForm.get('email').touched"
                       type="email" class="form-control" formControlName="email"/>
              </div>
              <div *ngIf="(secondEmail.invalid && secondEmail.touched) || secondEmail.dirty">
                <small *ngIf="secondEmail.errors?.required" class="text-danger">
                  Email is too short !</small>
                <small *ngIf="secondEmail.errors?.pattern" class="text-danger">Please provide a valid email address
                  !</small>
              </div>
            </div>

            <div class="form-group">

              <div class="col-xs-6">
                <label for="email"><h4>Full Name</h4></label>
                <input type="email" formControlName="fullName" class="form-control" id="location"
                       placeholder="somewhere" title="enter a location">
                <!--                <input type="email" formControlName="avatar" class="form-control" placeholder="somewhere" title="enter a location">-->
              </div>
            </div>
            <div class="form-group">
            </div>
            <!--            <div class="form-group">-->
            <!--              <input formControlName="avatar" name="avatar" type="file" class="form-control" (change)="saveImg($event)">-->
            <!--            </div>-->

            <div class="form-group">
              <div class="col-xs-12">
                <br>
                <button data-toggle="modal" data-target=".bd-example-modal-lg" class="btn btn-lg btn-success"
                        type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save
                </button>
                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
              </div>
            </div>
          </form>
        </div>
      </div><!--/tab-pane-->
    </div><!--/tab-content-->
  </div><!--/col-9-->
</div><!--/row-->

<!--  <img src="{{ downloadURL }}" alt="" />-->


<!--app.component.html-->
<!--app.component.html-->
